.two_headers_wrapper {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header {
  display: flex;
  align-items: center;
  background-color: #d2d3d3;
  text-align: center;
  height: 100px;
  border-bottom: 1px solid #999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #7d7f80;
  height: 50px;
}

.placeholder {
  height: 150px;
  width: 100vw;
}

.empty_div {
  width: 30vw;
}

.webpage_title {
  display: flex;
  width: 40vw;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.webpage_title h3 {
  margin: 0;
  font-size: 3em;
}

.profile_btns_wrapper {
  width: 30vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top_buttons {
  width: 15%;
}

.top_buttons {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #9615db;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  display: flex;
}

.top_buttons:hover {
  background-color: #2d3032;
  color: #fff;
  box-shadow: 0 0 20px rgba(150, 21, 219, 0.7);
  transform: scale(1.05);
}

.top_buttons:active {
  background-color: #2d3032;
  color: #fff;
  box-shadow: 0 0 10px rgba(150, 21, 219, 0.7);
  transform: scale(0.95);
}

.chef_button {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.chef_username p {
  text-decoration: none;
  font-weight: bold;
}

.nav_btn {
  padding: 10px;
  cursor: pointer;
  margin-left: 3em;
  margin-right: 3em;
}

.nav_btn a {
  color: #000;
  text-decoration: none;
  font-size: 24px;
  transition: transform 0.3s, color 0.3s, opacity 0.3s;
}

.nav_btn a:hover {
  color: #9615db;
  transform: scale(1.2);
  opacity: 0.8;
}

.buttonImage {
  max-height: 60px;
  width: auto;
  transition: transform 0.3s, filter 0.3s;
}

.buttonImage:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.buttonImage:active {
  transform: scale(0.9);
  filter: brightness(0.8);
}

.messages_number {
  display: inline;
  font-size: larger;
  font-weight: bold;
}

.top_left_message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.admin_logout_wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1023px) {
  .buttonImage {
    display: none;
  }
}
