.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2d3d300;
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 100px;
}

.footer-sticky {
  position: sticky;
}

.footer-fixed {
  position: fixed;
}

.post_recipe_button {
  background-color: #9615db;
  padding: 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.post_recipe_button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(150, 21, 219, 0.5);
}

.post_recipe_button:active {
  transform: scale(0.4);
  box-shadow: none;
}
