.wrapper {
  display: flex;
  margin: 2em;
  border: 1px solid black;
  border-radius: 1em;
}

.img_and_username {
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.img_and_username img {
  height: 100px;
  width: 100px;
}

.comment_text {
  margin: 1em;
  flex: 1;
}
