.wrapper {
  width: 100vw;
  height: 100vh;
}

.users_stats_btn {
  background-color: #9615db;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-decoration: none;
}

.btn-info {
  background-color: #9615db;
  border: none;
  margin: 10px;
}

.btn-info:hover {
  background-color: rgb(6, 117, 12);
}

.btn-danger {
  margin: 10px;
}

.admin_header {
  margin: 1em;
  display: flex;
  gap: 2em;
  margin-bottom: 2em;
  margin-top: 1em;
}

.form_container {
  width: 50vw;
  padding: 1em;
}

table {
  border-collapse: separate;
}

td,
th {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

tr:first-child td,
tr:first-child th {
  border-top: 1px solid #ccc;
}
