body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.message-box-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
}

.message-box-button {
  border-radius: 8px;
  border-width: 0;
  background: black;
  color: white;
  padding: 5px;
}

.message-box {
  border-radius: .25rem;
  transition: opacity 0.5s ease-in;
  background: black;
  color: white;
  opacity: 1;
  padding: 5px 10px;
  display: inline-block;
  font-family: Arial;
}

.message-box-hide {
  opacity: 0;
}

.message-box-inner {
  display: inline-block;
  padding: 8px 16px;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
  -webkit-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
  -moz-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
}

.main_div {
  background-color: #d2d3d3;
  background-image: url('../pages/images/pozadina.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.naslov {
  margin-top: 5vh;
  font-size: 7vh;
  color: #9615db;
  backdrop-filter: blur(10px);
  background-color: rgb(225, 225, 225, 0.6);
  padding: 0.5em;
  border-radius: 1em;
  overflow: hidden;
  font-family: cursive;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.naslov:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.search-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin-bottom: 60vh;


  
  backdrop-filter: blur(10px);
  background-color: rgb(225, 225, 225, 0.6);
  padding: 0.5em;
  border-radius: 1em;
  overflow: hidden;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.search-container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.search-input {
  flex: 1;
  padding: 2vh;
  border: 3px solid #9615db;
  border-style: double;
  border-radius: 15px 0 0 15px;
  margin-right: 8px;
  
}

.search-button {
  background-color: #9615db;
  color: #fff;
  padding: 2vh;
  border: 1px solid #9615db;
  border-radius: 0 15px 15px 0;
  cursor: pointer;

}
