body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main_div {
  background-color: #d2d3d3;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.naslov {
  margin-top: 5vh;
  font-size: 7vh;
}

.search-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin-bottom: 60vh;
}

.search-input {
  flex: 1;
  padding: 2vh;
  border: 2px solid #9615db;
  border-radius: 15px 0 0 15px;
  margin-right: 8px;
}

.search-button {
  background-color: #9615db;
  color: #fff;
  padding: 2vh;
  border: 1px solid #9615db;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}
