.main_login_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #d2d3d3;
}

.form_wrap {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  background-color: #7d7f80;
  box-shadow: 0 0 15px #9615db;
  margin-bottom: 40vh;
}

.wrap {
  margin-bottom: 15px;
}

.input_label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input_field {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login_button {
  width: 100%;
  padding: 10px;
  background-color: #2d3032;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1em;
}

.login_button:hover {
  background-color: #9615db;
}
