.navbar {
  background-color: #2779a7;
  display: flex;
  justify-content: space-between;
}

.navbar2 {
  background-color: #2779a7;
}

.left_home {
  margin-left: 3vw;
}

.izbornik {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 2vh;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 1vh;
  margin-top: 1vh;
}
.izbornik:hover {
  color: white;
}

.home_text {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.home_text:hover {
  color: white;
}

.right {
  display: flex;
  text-decoration: none;
  flex-direction: row;
  margin-right: 3vw;
  align-items: center;
  color: rgb(152, 19, 19);
}
